.vscode/**
.vscode-test/**
test/**
.gitignore
.gitattributes
vsc-extension-quickstart.md
package-lock.json
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
images/example.gif

node_modules/**/.github/**
node_modules/**/appveyor.yml
node_modules/**/dist/browser/**
node_modules/**/dist/esm/**
node_modules/axios/dist/axios.js
node_modules/axios/dist/axios.min.js
node_modules/xml2js/lib/xml2js.bc.js
node_modules/**/README.md
node_modules/**/Readme.md
node_modules/**/CHANGELOG.md
node_modules/**/HISTORY.md
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/.eslintrc
node_modules/**/tsconfig.json
node_modules/**/MIGRATION_GUIDE.md
node_modules/**/.npmignore
node_modules/**/.travis.yml

# Ignore type definitions (User's VS Code doesn't need these to run the JS)
node_modules/**/*.d.ts
node_modules/**/*.d.cts